@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0 12px;
}
.brand img {
  width: 44px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  position: relative;
  min-height: 72vh;
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  height: 100%;
  background-image: url("WhatsApp\ Image\ 2024-05-09\ at\ 11.07.43\ PM.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index:; */
}
.surahList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.surahList h1 {
  font-size: 40px;
  font-weight: 1000;
  padding: 3vh 5vh;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
}
.bottom {
  z-index: 2;
  position: sticky;
  bottom: 0;
  height: 130px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 14px;
}
.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

.surahItemContainer {
  margin-top: 29px;
}

.surahItem {
  height: 50px;
  display: flex;
  background-color: white;

  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}

.surahItem img {
  width: 43px;
  margin: 0 23px;
  border-radius: 34px;
}

.timestamp {
  margin: 0 23px;
}

.timestamp i {
  cursor: pointer;
}

.surahInfo {
  position: absolute;
  left: 10vw;
  font-family: "Varela Round", sans-serif;
}

.surahInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 30vh; */
  flex-direction: column;
}
.surahlist {
  position: relative;
  z-index: 2;
}
